
// Color Pallette
$turquoise: #40ADAD;
$lightBlue: #91FFFF;
$boldBlue: #75FAFA;
$boldOrange: #AD5D2F;
$lightOrange: #FAA675;

// Navbar stuff
.navbar {
    background: rgba(255, 255, 255, 0.3);
    min-height: 90px;

    button {
    position: absolute;
    left: 80%;
    }
    }

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    }

#nav-logo {
    width: 160px;
    height: auto;
    }

.nav-link {
    color: $boldOrange;
    }
.nav-link:hover {
    color: $lightOrange;
    }

@media (min-width: 768px) {
    #nav-link-1 {
        position: absolute;
        left: 22%;
        margin-left: -5px;
        }
    #nav-link-2 {
        position: absolute;
        left: 32%;
        margin-left: -5px;
        }
    #nav-link-3 {
    position: absolute;
    left: 60%;
    margin-left: -5px;
    }
    #nav-link-4 {
    position: absolute;
    left: 70%;
    margin-left: -5px;
    }
 }

 // Footer stuff

 #footer {
    position: relative;
    bottom: 0;
    background: $turquoise;
    opacity: .8;
    padding: 4px;
    a {
    color: white;
    font-size: 2rem;
    }
    a:hover {
    color: $boldOrange;
    }
    a, a:hover {
        margin:4px;}
    small {
    color: white;}
    }


    // Main Body Stuff

@media (min-width: 576px) {
    #main-content {
    margin-top: 400px;
    }
}

@media (max-width: 576px) {
    #main-content {
    margin-top: 400px;
    }
}

body {
  background: url('../images/trio_shot.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


#sound-section-text {
    color: white;
    padding: 35px 0;
    margin-top: 140px;
    background-color: $turquoise;
    border-radius: 25px;

    a {
        color: white;
        font-size: 2rem;
        margin-right: 10px;
        }
    a:hover {
        color: $boldOrange;
        }
    }

