
// Color Pallette
$turquoise: #40ADAD;
$lightBlue: #91FFFF;
$boldBlue: #75FAFA;
$boldOrange: #AD5D2F;
$lightOrange: #FAA675;

html {
    scroll-behavior: smooth;
    }
// Navbar stuff
.navbar {
    background: rgba(255, 255, 255, 0.3);
    min-height: 90px;

    button {
    position: absolute;
    left: 80%;
    }
    }

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    }

#nav-logo {
    width: 160px;
    height: auto;
    }

.nav-link {
    color: $boldOrange;
    }
.nav-link:hover {
    color: $lightOrange;
    }

@media (min-width: 768px) {
    #nav-link-1 {
        position: absolute;
        left: 22%;
        margin-left: -5px;
        }
    #nav-link-2 {
        position: absolute;
        left: 32%;
        margin-left: -5px;
        }
    #nav-link-3 {
    position: absolute;
    left: 60%;
    margin-left: -5px;
    }
    #nav-link-4 {
    position: absolute;
    left: 70%;
    margin-left: -5px;
    }
 }

 // Footer stuff

 #footer {
    background: $turquoise;
    opacity: .8;
    padding: 4px;
    a {
    color: white;
    font-size: 2rem;
    }
    a:hover {
    color: $boldOrange;
    }
    a, a:hover {
        margin:4px;
        }

    .footer-text {
        margin-top: 5px;
        }
    small {
    color: white;
    }
    }


    // Main Body Stuff

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    }

@media (min-width: 576px) {
    #main-content {
    margin-top: 400px;
    }
}

@media (max-width: 576px) {
    #main-content {
    margin-top: 400px;
    }
}

.fade-row  {
    height: 200px;
    background-color: black;
    -webkit-mask-image: -webkit-gradient(linear, left bottom,
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }

.reverse-fade-row {
    height: 200px;
    background-color: black;
    -webkit-mask-image: -webkit-gradient(linear, left top,
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    margin-top: -2px;

    }

.content-row {
    color: white;
    background-color: black;
    margin-top: -2px;
    padding-top: 75px;
    padding-bottom:75px;
    a {
        color: white;
        }
    a:hover {
        color: $boldOrange;
        }

    .fa {
        font-size: 5rem;
        margin: 20px;
        }
    }

.column-section {
    margin-top: 50px;
    }

#spotify-follow-button {
    margin-left: 85px;
    }

iframe {
    height: 200px;
    border-radius: 10px;
    }

#preorder-album-art {
    height: 325px;
    }

#preorder-section {
    input {
        margin: 5px;
        }
    label {
        background-color: black;
        color: white;
        }
    h1 {
        margin-top: 125px;}
    }

body {
  background: url('../images/trio_shot.png') no-repeat center center fixed;
  height: 100%
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

