html {
  scroll-behavior: smooth;
}

body:after {
  content: "";
  position: fixed;
  /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh;
  /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1;
  /* needed to keep in the background */
  background: url("../images/trio_shot.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  z-index: 1201;
  background: rgba(255, 255, 255, 0.3);
  min-height: 90px;
}
.navbar button {
  position: absolute;
  left: 80%;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -80px;
}

#nav-logo {
  width: 160px;
  height: auto;
}

.nav-link {
  color: #AD5D2F;
}

.nav-link:hover {
  color: #FAA675;
}

@media (min-width: 768px) {
  #nav-link-1 {
    position: absolute;
    left: 22%;
    margin-left: -5px;
  }

  #nav-link-2 {
    position: absolute;
    left: 32%;
    margin-left: -5px;
  }

  #nav-link-3 {
    position: absolute;
    left: 60%;
    margin-left: -5px;
  }

  #nav-link-4 {
    position: absolute;
    left: 70%;
    margin-left: -5px;
  }
}
#footer {
  background: #40ADAD;
  opacity: 0.8;
  padding: 4px;
}
#footer a {
  color: white;
  font-size: 2rem;
}
#footer a:hover {
  color: #AD5D2F;
}
#footer a, #footer a:hover {
  margin: 4px;
}
#footer .footer-text {
  margin-top: 5px;
}
#footer small {
  color: white;
}

.section-header {
  position: sticky;
  top: 90px;
  background-color: black;
  color: white;
  margin-top: -2px;
  z-index: 1200;
  border-color: #AD5D2F;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.nav-sticky-div {
  position: sticky;
  top: 0;
  margin-top: -2px;
  z-index: 100;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  #main-content {
    margin-top: 400px;
  }
}
@media (max-width: 576px) {
  #main-content {
    margin-top: 400px;
  }
}
.fade-row {
  height: 200px;
  background-color: black;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
}

.reverse-fade-row {
  height: 200px;
  background-color: black;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  margin-top: -2px;
}

.content-row {
  background-color: black;
  color: white;
  margin-top: -2px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.content-row a {
  color: white;
}
.content-row a:hover {
  color: #AD5D2F;
}
.content-row .fa {
  font-size: 5rem;
  margin: 20px;
}

.column-section {
  margin-top: 50px;
}

#spotify-follow-button {
  margin-left: 85px;
}

iframe {
  height: 200px;
  border-radius: 10px;
}

#preorder-album-art {
  height: 325px;
}

#preorder-section input {
  margin: 10px;
}
#preorder-section select {
  margin: 10px;
}
#preorder-section label {
  margin: 10px;
  background-color: black;
  color: white;
}
#preorder-section h1 {
  margin-top: 125px;
}

/*# sourceMappingURL=style.css.map */
