@font-face { 
    font-family: yep; src: url(C:/Users/Alec/Downloads/yep.otf);
    font-family: Coral; src: url(C:/Users/Alec/Downloads/coral.otf);
    } 


#fixed_title a {
  /*background-color: #f1f1f1;*/
  text-shadow: 1px 1px black;
  padding: 10px 10px;
  color: #FA4D4F ;
  text-align: center;
  font-size: 60px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  opacity: 0.8;
  z-index: 8900; 
}

/*a {
  color:blue;
  font-size: 40px;
  position: relative;
  text-align: center;
}*/

.fixed_nav_bar{
  /*background-color:#f1f1f1;*/
  position: fixed;
  width: 100%;
  top: 85px;
  z-index: 9999; 
  height: 10px;
}

ol,ul {
    list-style: none;
}

#mainMenu {
    /*border:3px solid #ccc;
    border-width:1px 0; */
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    color: #000000;
}

#mainMenu li {
    display:inline;
    color: #000000;
}

#mainMenu a{
    display:inline-block;
    padding:10px;
    color: #000000;
}

#mainMenu a:hover {
    background-color:#FA4D4F;
    color:#fff;
}



.link:hover { color:red; }


 .spotify {
  text-align: center;
  position: fixed;
  width: 100%;
 }

 .albumart img {


   max-height: 25% ;
   max-width: 25%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 5px solid;

 }

 .albumart{

  position: fixed;
  margin: 0 auto;
  top:15%;
 
 }

.paypal {

  position: fixed;
  bottom: 10%;
  left: 45%;
}

.photoroll{

  padding-top: 0%;
}
.photoroll img {

  width:100%;
  border: 2px solid black;
}

body{
    position: relative;
    z-index: 3;
    height:100%;
    width:100%;
    margin: 0px;
    padding-top: 200px;
    padding-bottom:200px;
    /*background: url("https://i.imgur.com/mYoFiSN.jpg") */

    no-repeat fixed;
    background-position: center;
    background-size:100% auto;
    /*css hack for ie*/     
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://i.pinimg.com/originals/48/eb/04/48eb0442fef6162b17f87e595f5ed274.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')"; 

    /*-- CHANGE FONT */
    font-family: Coral;
    opacity: 0.99;
    overflow-y: scroll;

}


ol,ul {
    list-style: none;
}


footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 10px;
    color: black;
}

