
// Color Pallette
$turquoise: #40ADAD;
$lightBlue: #91FFFF;
$boldBlue: #75FAFA;
$boldOrange: #AD5D2F;
$lightOrange: #FAA675;

html {
    scroll-behavior: smooth;
    }

@media (max-width: 576px) {
    body:after {
            content:"";
            position:fixed; /* stretch a fixed position to the whole screen */
            top:0;
            height:100vh; /* fix for mobile browser address bar appearing disappearing */
              left:0;
              right:0;
              z-index:-1; /* needed to keep in the background */
              background: url('https://www.hairtheband.com/hair/images/mobile-bg.png') center center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
        }
    }

@media (min-width: 576px) {
    body, #coming-soon-picture {
              background: url('https://www.hairtheband.com/hair/images/trio_shot.png') no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              }
    }


// Navbar stuff
.navbar {
    background: rgba(255, 255, 255, .5);
    min-height: 70px;
    button {
        position: absolute;
        left: 80%;
    }
    a {
        color: $boldOrange;
        margin-bottom: 3px;
        }
    a:hover {
        color: $lightOrange;
        }
    }

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    }

#nav-logo {
    width: 120px;
    height: auto;
    }

.nav-link {
    color: $boldOrange;
    }

.nav-link:hover {
    color: $lightOrange;
    }

@media (min-width: 768px) {
    #nav-link-1 {
        position: absolute;
        left: 22%;
        margin-left: -5px;
        }
    #nav-link-2 {
        position: absolute;
        left: 34%;
        margin-left: -5px;
        }
    #nav-link-3 {
    position: absolute;
    left: 60%;
    margin-left: -5px;
    }
    #nav-link-4 {
    position: absolute;
    left: 70%;
    margin-left: -5px;
    }
 }
    // Main Body Stuff

#pictures-view {
    display: none;
    }

#video-view {
    display: none;
    }

.view {
    margin-top: 300px;
    }

.fade-row  {
    height: 200px;
    background-color: black;
    -webkit-mask-image: -webkit-gradient(linear, left bottom,
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }

.spacer-row {
    height: 200px;
    background-color: black;
    }

.content-row {
    background-color: black;
    color: white;
    margin-top: -2px;
    a {
        color: white;
        }
    a:hover {
        color: $boldOrange;
        }

    .fa {
        font-size: 5rem;
        margin: 0px;
        }
    }

#music-links-div {
    padding-top: 85px;
    a {
        margin: 5px;
        }
    }

#spotify-player-div {
    padding-top: 55px;
    }
#spotify-player-embed {
    height: 200px;}

#spotify-follow-button {
    margin-left: 85px;
    }

#preorder-div {
    p {
        color: white;
        }
    }
#preorder-album-art {
    max-width: 75%;
    }

//Pictures View

#pictures-view {
    h3 {
        margin-bottom: 15px;
        }
    img {
        width: 100%;
        }
    }

//Video View

#coming-soon-picture {
    max-width: 100%;
    }

// Footer stuff
 #footer {
    background: $turquoise;
    opacity: .8;
    padding: 4px;
    a {
    color: white;
    font-size: 2rem;
    }
    a:hover {
    color: $boldOrange;
    }
    a, a:hover {
        margin:4px;
        }

    .footer-text {
        margin-top: 5px;
        }
    small {
    color: white;
    }
    }

 .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}